@import "_variables.scss";

.app {
	height: 100vh;
	width: 100vw;
	display: flex;
	
	.aside {
		height: 100%;
		width: 330px;
		background-color: $c-dark;
		color: $c-white;
	}
	
	.content {
		padding: 64px 50px;
		flex: 1;
	}
}
