@import './src/global/_variables';

.wrapper {
	overflow-y: auto;
}

.header {
	display: flex;
	align-items: center;
	padding-bottom: 15px;
	margin-bottom: 15px;
	background-color: white;
	
	.user {
		display: flex;
		align-items: center;
		
		.userImage {
			width: 80px;
			min-width: 80px;
			height: 80px;
			border-radius: 50%;
			margin-right: 20px;
			overflow: hidden;
			
			img {
				object-fit: contain;
				width: 100%;
			}
		}
		
		.userInfo {
			display: flex;
			flex-direction: column;
			margin-right: 30px;
		}
		
		.name {
			@include h1-regular;
		}
		
		.age {
			@include text-16-reg;
			opacity: 50%;
		}
		
		.links {
			display: flex;
			align-items: center;
			margin-right: 60px;
			gap: 16px;
			
			.svg {
				font-size: 20px;
				color: $c-black;
				transition: color .3s ease-out;
			}
			
			.link {
				&:hover {
					.svg {
						color: $c-blue;
					}
				}
			}
		}
	}
	
	.stats {
	
	}
}

.better {
	@include text-12-reg;
	
	color: $c-black !important;
	margin-right: 12px;
	display: inline-block;
}

.table {
	margin-bottom: 35px;
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	
	.buttonsCol {
		display: flex;
		gap: 20px;
	}
}
