body {
  margin: 0;
  padding: 0;
  width: 100vw;
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;
  font-family: 'Ubuntu', sans-serif;
}

* {
  box-sizing: border-box;
  
  &::after, &::before {
    box-sizing: border-box;
  }
}
